<body class="d-flex flex-column h-100" style="background-color: #f5f5f5;">
  <% include ./partials/header %>
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <% include ./partials/messages %>
      <h1 class="mt-5">General Advice Helpline</h1>
      <p class="lead">Click on any of the following to get more details.</p>
      <table id="track-table" class="table table-hover">
          <thead>
            <tr class="table-primary">
              <th scope="col">Sl. No.</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Speciality</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<details.length; i++) { %>
              <tr class="clickable" onclick="window.location='/helpline/' + '<%= details[i]._id %>'">
                <th scope="row"><%= i+1 %></th>
                <td><%= details[i].firstName %></td>
                <td><%= details[i].lastName %></td>
                <td><%= details[i].speciality %></td>
                <td><%= details[i].location %></td>
              </tr>
            <% } %>
          </tbody>
      </table>
      <a href="/" class="btn btn-primary float-right">Back</a>
    </div>
  </main>
  
  <% include ./partials/footer %>

  <script>
    $(document).ready(function(){
      $('#helpline').addClass('active');
      $('#helpline-a').append('<span class="sr-only">(current)</span>');
    });
  </script>
</body>