<body class="d-flex flex-column h-100" style="background-color: #f5f5f5;">
  <% include ./partials/header %>
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <% include ./partials/messages %>
      <h1 class="mt-5">NGO's Details</h1>
      <p class="lead">Following are some NGO's helping the poor in this Coronavirus situation.</p>
      <table id="track-table" class="table table-hover">
          <thead>
            <tr class="table-primary">
              <th scope="col">Sl. No.</th>
              <th scope="col">Name</th>
              <th scope="col">Website</th>
              <th scope="col">Phone No.</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<details.length; i++) { %>
              <tr class="clickable" onclick="window.location='<%= details[i].website %>'">
                <th scope="row"><%= i+1 %></th>
                <td><%= details[i].name %></td>
                <td><%= details[i].website %></td>
                <td><%= details[i].phone %></td>
              </tr>
            <% } %>
          </tbody>
      </table>
      <a href="/" class="btn btn-primary float-right">Back</a>
    </div>
  </main>
  
  <% include ./partials/footer %>

  <script>
    $(document).ready(function(){
      $('#ngo').addClass('active');
      $('#ngo-a').append('<span class="sr-only">(current)</span>');
    });
  </script>
</body>